# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web-admin/node_modules
/web-admin/.pnp
/web-admin/.pnp.js

# testing
/web-admin/coverage

# production
/web-admin/build

# misc
/web-admin/.DS_Store
/web-admin/.env.local
/web-admin/.env.development.local
/web-admin/.env.test.local
/web-admin/.env.production.local
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/web-admin/npm-debug.log*
/web-admin/yarn-debug.log*
/web-admin/yarn-error.log*

/backend/node_modules
/backend/.env


/data